@import "variables";
@import "mixins";

.footer { 
    background-color: #999999;
    .footer-main{
        display: flex;
        flex-direction: column-reverse;
        .footer-links{
            padding: 20px;
            line-height: 1.6;
            font-size: 20px;
            ul{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: $light-grey;
                    border-bottom: 0px solid $secondary-col;
                    transition: border-bottom 0.3s, color 0.5s;
                    &:hover{
                        border-bottom: 5px solid $secondary-col;
                        color: $secondary-col;
                    }
                }
            }
        }
        .footer-contact{
            padding: 20px;
            h3{
                @include section-header;
            }
            input, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
                &:focus{
                    background-color: $light-grey;
                    outline: none;
                }
            }
            button[type=submit] {
                background-color: $light-primary-col;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                &:hover{
                    background-color: $dark-primary-col;
                }
            }
        }
    }
    .footer-brand{
        @include section-header;
        background-color: lighten(#999999, 10%);
        padding: 20px;
    }
}