@import "variables";
@import "mixins";

.header {
    grid-area: header;
	background-color: $light-primary-col;
	position: fixed;
	z-index: 1;
    width: 100%;
    // border: 10px solid pink;
    .header-wrapper{
        	// display: grid;
        	// grid-template-areas: 
        	// 'menu-btn menu-btn menu-btn logo-wrapper logo-wrapper logo-wrapper'
        	// 'menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar'
        	// 'login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper';
        	/*grid-gap: 5px;*/
            // height: 100%;
            // border: 10px solid gold;
        .header-row-1{
            // border: 10px solid salmon;
            display: flex;
            flex-direction: row-reverse;
            margin-top: 5px;
            .logo-wrapper {
            	// grid-area: logo;
                // display: flex;
                // align-items: center;
                // justify-content: flex-end;
                // width: 100px;
                // border: 1px solid black;
                img{
                    // border: 1px solid yellow;
                    width: 8em;
                    // position: relative;
                    // top: 50%;
                    // width: auto;
                }
            }
            .search-bar{
                // grid-area: search-bar; 
                // border: 1px solid $secondary-col;
                // padding-top: 15px;
                width: 100%;
                margin: 5px 0px;
                margin-right: 3px;
                input{
                    border-radius: 3px;
                    padding: 10px 5px;
                    width: 100%;
                    border: 1px solid $secondary-col;
                    &:focus{
                        background-color: $light-grey;
                    }
                }
            }
            .login-signup-wrapper {
                // grid-area: login-signup-wrapper;
                display: none;
                text-align: center;
            
                a {
                    text-decoration: none;
                    // font-size: 1.5em;
                    color: $light-grey;
                    
                }
                
                a:hover {
                    color: $secondary-col;
                }

                .login-wrapper , .signup-wrapper {
                    padding: 10px;
                    border-radius: 5px;
                    width: 5em;
                    margin-right: 5px;
                }
    
                .login-wrapper {
                    border: 1px solid $dark-primary-col;
                }
    
                .signup-wrapper {
                    background-color: $dark-primary-col;
                }
            }
            // .login-signup-wrapper.open {
            // 	display: flex;
            // 	align-items: center;
            // 	justify-content: space-around;
            // }
            .menu-btn {
                // grid-area: menu-burger;
                // border: 1px solid yellow;
                padding: 5px;
                // margin-top: auto;
                // grid-area: menu-btn;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                cursor: pointer;
                transition: all .2s ease-in-out;
                // left: 10px;
                // left: -28px;
                top: 10px;
                .menu-btn__burger {
                    width: 15px;
                    height: 2px;
                    background: #fff;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(255,101,47,.2);
                    transition: all .2s ease-in-out;
                }
                .menu-btn__burger::before,
                .menu-btn__burger::after {
                content: '';
                position: absolute;
                width: 15px;
                height: 2px;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
                transition: all .2s ease-in-out;
                }

                .menu-btn__burger::before {
                transform: translateY(-6px);
                }

                .menu-btn__burger::after {
                transform: translateY(6px);
                }
            }
            /* ANIMATION */
            .menu-btn.open .menu-btn__burger {
                background: transparent;
                box-shadow: none;
            }

            .menu-btn.open .menu-btn__burger::before {
                transform: rotate(45deg);
            }

            .menu-btn.open .menu-btn__burger::after {
                transform: rotate(-45deg);
            }
        }
        .header-row-2{
            // border: 10px solid purple;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            // height: 100%;
            user-select: none;
            // display: none;
            height: 0;
            .menu-navbar {
                // grid-area: menu-navbar;
                // display: none;
                font-size: 2.5em;
                text-align: center;
                // opacity: 0;
                visibility: hidden;
                // transition: visibility 1s;
            
                a {
                    text-decoration: none;
                    color: $light-grey;
                    border-bottom: 0px solid $secondary-col;
                    transition: border-bottom 0.3s, color 0.5s;
                }
            
                a:hover {
                    border-bottom: 5px solid $secondary-col;
                    color: $dark-primary-col;
                }
            
                ul {
                    list-style-type: none;
                    // height: 100%;
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: space-between;
                    li{
                        padding: 10px;
                    }
                }
            }
            .menu-navbar.open {
                // border: 10px solid blue;
                // opacity: 1;
                visibility: visible;
            }
            .login-signup-wrapper-2 {
                // grid-area: login-signup-wrapper;
                // display: none;
                margin-bottom: 10px;
                display: flex;
            	align-items: center;
                justify-content: space-around;
                // opacity: 0;
                visibility: hidden;
                // transition: visibility 1s;
                a {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: $light-grey;
                    
                }
                
                a:hover {
                    color: $secondary-col;
                }

                .login-wrapper-2 , .signup-wrapper-2 {
                    padding: 10px;
                    border-radius: 5px;
                }
    
                .login-wrapper-2 {
                    border: 1px solid $dark-primary-col;
                }
    
                .signup-wrapper-2 {
                    background-color: $dark-primary-col;
                }
            }
            .login-signup-wrapper-2.open {
                // border: 1px solid red;
            	// display: flex;
            	// align-items: center;
                // justify-content: space-around;
                // opacity: 1;
                visibility: visible;
            }
        }
        .header-row-2.open{
            // display: block;
            // height: 385px;
            height: auto;
        }
    }

    // .header-wrapper.open{
    //     height: 100%;
    //     display: grid;
    //     grid-template-areas: 
    //     'menu-burger search-bar search-bar search-bar search-bar logo'
    //     'menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar'
    //     'login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper'
    //     ;

    // }
    
}













// .header-wrapper {
// 	display: grid;
// 	grid-template-areas: 
// 	'menu-btn menu-btn menu-btn logo-wrapper logo-wrapper logo-wrapper'
// 	'menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar'
// 	'login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper';
// 	/*grid-gap: 5px;*/
// 	height: 100%;
// }


// .header.open {
//     height: 100%;
// }

.main { 
	grid-area: main; 
	/* margin-top: 80px; */
	margin-top: 54px;
}
.footer { 
	grid-area: footer;
	background-color: #999999;
}

.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header header header header'
	'main main main main main main'
	'footer footer footer footer footer footer';
	grid-gap: 5px;
}



@media screen and (min-width: 748px) {
    .header-row-1{
        flex-direction: row !important;
        // .logo-wrapper {
        //     justify-content: flex-start !important;
        //     display: inline !important;
        // }
        .menu-btn {
            display: none !important;
        }
        .login-signup-wrapper {
            display: flex !important;
            align-items: center;
            // justify-content: space-around;
        }
        // .login-signup-wrapper {
        //     display: flex !important;
        //     flex-direction: row;
        //     align-items: center;
        //     justify-content: flex-end;
        //     margin-right: 1em;
    
        //     a {
        //         font-size: 1em !important;
        //     }
        
        //     div {
        //         margin: 0 3px;
        //     }
        
        // }
        // .login-signup-wrapper.open {
        //     justify-content: flex-end !important;
        // }
    }
	
    .header-row-2{
        height: auto !important;
        .menu-navbar {
            // display: inline !important;
            font-size: 1em !important;
            visibility: visible !important;
            text-align: left !important;
            margin: 10px 0;
    
            ul {
                // flex-direction: row !important;
                // align-items: center;
                li{
                    display: inline;
                }
            }
        }
        .login-signup-wrapper-2{
            display: none !important;
            visibility: hidden !important;
        }
    }







	// .header-wrapper {
	// 	grid-template-areas: 
	// 	'logo-wrapper logo-wrapper menu-navbar menu-navbar login-signup-wrapper login-signup-wrapper' !important;
	// 	height: auto !important;
	// }

	// .header.open {
	// 	height: auto !important;
	// }


}