@mixin section-header {
	text-align: center;
	margin-top: 10px;
}

@mixin icon-size {
	width: 15px;
	height: 15px;
}

@mixin shown-detail-content{
	opacity: 0;
	animation-name: show-content;
	animation-duration: 2.5s;
	animation-fill-mode: forwards;

	@keyframes show-content {
		from {opacity: 0; top: -20px;}
		to {opacity: 1; top: 0px;}
	}
}