@import "variables";
@import "mixins";

.profile-teacher {
  padding-top: 8em;
  h3 {
    text-align: center;
  }
  .frame-profile-picture {
    position: relative;
    padding-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    img {
      height: 100px;
      width: 100px;
      border: 1px solid white;
      border-radius: 50px;
      background-color: #999999;
      position: absolute;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .container-profile-teacher {
    margin: 0 15px 15px;
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: darken(white, 3%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h3#profile-teacher-name {
      margin-top: 7px;
    }
    p#profile-teacher-expert {
      color: lighten($color: gray, $amount: 10%);
      text-align: center;
    }
    .profile-teacher-info {
      line-height: 1.8;
      padding: 10px 20px;
      span {
        font-weight: bold;
        color: $dark-primary-col;
      }
      hr {
        opacity: 0.3;
        margin-bottom: 15px;
      }
      hr:last-child {
        display: none;
      }
    }
  }
  button#change-password,
  button#edit-profile-pic {
    background-color: $light-primary-col;
    color: white;
    padding: 12px 20px;
    margin: 0 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $dark-primary-col;
    }
  }
}

@media screen and (min-width: 748px) {
  .profile-teacher {
    padding-top: 10em;
  }
}
