@import "variables";
@import "mixins";

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font-face/Montserrat-Regular.ttf') format('ttf');       
    font-weight: normal;
    font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
    background-color: $light-grey;
	font-family: $font-fam;
}

.logo-wrapper {
	grid-area: logo-wrapper;
	display: flex;
	justify-content: flex-end;
}

.menu-navbar {
	grid-area: menu-navbar;
	display: none;
	font-size: 2.5em;
	text-align: center;

	a {
		text-decoration: none;
		color: $light-grey;
		border-bottom: 0px solid $secondary-col;
		transition: border-bottom 0.3s, color 0.5s;
	}

	a:hover {
		border-bottom: 5px solid $secondary-col;
		color: $dark-primary-col;
	}

	ul {
		list-style-type: none;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
}

.menu-navbar.open {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-signup-wrapper {
	grid-area: login-signup-wrapper;
	display: none;

	a {
		text-decoration: none;
		font-size: 1.5em;
		color: $light-grey;
		
	}
	
	a:hover {
		color: $secondary-col;
	}
}

.login-signup-wrapper.open {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.login-wrapper , .signup-wrapper {
	padding: 10px;
	border-radius: 5px;
}

.login-wrapper {
	border: 1px solid $dark-primary-col;
}

.signup-wrapper {
	background-color: $dark-primary-col;
}

.menu-btn {
	grid-area: menu-btn;
	position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    left: 10px;
    top: 20px;
}

.header-wrapper {
	display: grid;
	grid-template-areas: 
	'menu-btn menu-btn menu-btn logo-wrapper logo-wrapper logo-wrapper'
	'menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar'
	'login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper';
	/*grid-gap: 5px;*/
	height: 100%;
}

.header { 
	grid-area: header;
	background-color: $light-primary-col;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.header.open {
	height: 100%;
}

.main { 
	grid-area: main; 
	/* margin-top: 80px; */
	margin-top: 54px;
}
.footer { 
	grid-area: footer;
	background-color: #999999;
}

.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header header header header'
	'main main main main main main'
	'footer footer footer footer footer footer';
	grid-gap: 5px;
}

.menu-btn__burger {
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg);
}

.call-to-action {
	background-image: url("../img/patrick-tomasso-IDN8NVELy0E-unsplash.jpg");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-grey;
}

.cta-content {
	position: relative;
	top: 10em;
	height: 100px;
	margin-left: 10%;

	div {
		background-color: $dark-primary-col;
		width: 100px;
		height: 50px;
		margin-top: 10px;
		border-radius: 5px;
		text-align: center;
		line-height: 1.8;
	}
	
	a {
		text-decoration: none;
		color: $light-grey;
		font-size: 25px;
	}
	
	a:hover {
		color: $secondary-col;
	}
}

.latest-tutorial {
	h3{
		@include section-header;
	}
	.tutorial-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.tutorial {
			width: 18em;
			margin: 10px;
			border: 1px solid rgba(170, 163, 170, 0.5);
			border-radius: 5px;
			overflow: hidden;
			transition: 0.5s;
			&:hover{
				box-shadow: 2px 2px 5px rgba(116,116,106,.75), 
					   -2px -2px 5px rgba(116,116,106,.75);
				transform: scale(1.05);
			}
			.tutorial-video{
				height: 10em;
				video {
					width: 100%;
				}
				img{
					width: 288px;
					height: 150px;
				}
			}
			.tutorial-info{
				.info-1{
					margin: 1em 0 1em 1em;
					font-weight: bold;
					position: relative;
					a{
						text-decoration: none;
						color: #000;
						&:hover{
							color: $dark-primary-col;
						}
					}
					.tooltiptext{
						font-size: .7em;
						visibility: hidden;
						background-color: black;
						color: $light-grey;
						border-radius: 10px 10px 10px 0;
						padding: 5px 0;
						text-align: center;
						position: absolute;
						top: -20px;
						z-index: 1;
					}
					&:hover {
						.tooltiptext{
							visibility: visible;
						}
					}
				}
				.info-2{
					display: flex;
					justify-content: space-between;
					margin: 0 1em 1em;
				}
			}
			.tutorial-purchase {
				border-top: 1px solid $light-primary-col;
				display: flex;
				justify-content: space-between;
				div{
					margin: 1em;
				}
				.purchase-button{
					background-color: $light-primary-col;
					border-radius: 5px;
					line-height: 2.7;
					a{
						text-decoration: none;
						color: black;
						padding: 12px 10px 12px 12px;
					}
					&:hover{
						background-color: $dark-primary-col;
					}
				}
				.purchase-info {
					line-height: 2.8;
					.tutorial-like,
					.tutorial-cost{
						img{
							@include icon-size;
						}
					}
				}
			}
		}
	}
	.tutorial-page{
		ul{
			display: flex;
			justify-content: center;
			li{
				display: inline-block;
				margin-right: 5px;
			}
			a{
				text-decoration: none;
				color: black;
			}
		}
	}
}
.student-testi{
	background-image: linear-gradient(to bottom right, $light-grey, $dark-primary-col);
	padding: .3em 0 1em;
	.student-testi-wrap{
		width: 300px;
		margin: 0 auto;
		position: relative;
		h3{
			@include section-header;
		}
		.testi{
			padding-top: 10px;
			display: none;
			position: relative;
			.numbertext{
				color: #000;
				font-size: 12px;
				position: absolute;
				left: 1em;
			}
			.testi-head{
				display: flex;
				justify-content: center;
			}
			.testi-main{
				color: #000;
				font-size: 15px;
				text-align: center;
				.student-name{
					font-weight: bold;
					// color: $dark-primary-col;
					color: $light-grey;
				}
				.testi-text{
					margin-top: 3px;
				}
			}
		}
		/* Fading animation */
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}
		@-webkit-keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
		}
		@keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
		}
		/* Next & previous buttons */
		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			// color: $secondary-col;
			color: $light-grey;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
		}
		/* Position the "next button" to the right */
		.next {
			right: 0;
			border-radius: 3px 0 0 3px;
		}
		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
			// background-color: $dark-primary-col;
			background-color: $secondary-col;
		}
	}
}

@media screen and (min-width: 748px) {
	.menu-btn {
		display: none !important;
	}

	.menu-navbar {
		display: inline !important;
		font-size: 1em !important;

		ul {
			flex-direction: row !important;
			align-items: center;
		}
	}

	.login-signup-wrapper {
		display: flex !important;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin-right: 1em;

		a {
			font-size: 1em !important;
		}
	
		div {
			margin: 0 3px;
		}
	
	}

	.login-signup-wrapper.open {
		justify-content: flex-end !important;
	}

	.logo-wrapper {
		justify-content: flex-start !important;
		display: inline !important;
	}

	.header-wrapper {
		grid-template-areas: 
		'logo-wrapper logo-wrapper menu-navbar menu-navbar login-signup-wrapper login-signup-wrapper' !important;
		height: auto !important;
	}

	.header.open {
		height: auto !important;
	}


}