@import "variables";
@import "mixins";

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font-face/Montserrat-Regular.ttf') format('ttf');       
    font-weight: normal;
    font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
    background-color: $light-grey;
	font-family: $font-fam;
}



.call-to-action {
	background-image: url("../img/patrick-tomasso-IDN8NVELy0E-unsplash.jpg");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-grey;
	.cta-content {
		position: relative;
		top: 10em;
		height: 100px;
		margin-left: 10%;
	
		div {
			background-color: $dark-primary-col;
			width: 100px;
			height: 50px;
			margin-top: 10px;
			border-radius: 5px;
			text-align: center;
			line-height: 1.8;
		}
		
		a {
			text-decoration: none;
			color: $light-grey;
			font-size: 25px;
		}
		
		a:hover {
			color: $secondary-col;
		}
	}
}

.latest-tutorial {
	h3{
		@include section-header;
	}
	.tutorial-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.tutorial {
			width: 18em;
			margin: 10px;
			border: 1px solid rgba(170, 163, 170, 0.5);
			border-radius: 5px;
			overflow: hidden;
			transition: 0.5s;
			&:hover{
				box-shadow: 2px 2px 5px rgba(116,116,106,.75), 
					   -2px -2px 5px rgba(116,116,106,.75);
				transform: scale(1.05);
			}
			.tutorial-video{
				height: 10em;
				video {
					width: 100%;
				}
				img{
					width: 288px;
					height: 150px;
				}
			}
			.tutorial-info{
				.info-1{
					margin: 1em 0 1em 1em;
					font-weight: bold;
					position: relative;
					a{
						text-decoration: none;
						color: #000;
						&:hover{
							color: $dark-primary-col;
						}
					}
					.tooltiptext{
						font-size: .7em;
						visibility: hidden;
						background-color: black;
						color: $light-grey;
						border-radius: 10px 10px 10px 0;
						padding: 5px 0;
						text-align: center;
						position: absolute;
						top: -20px;
						z-index: 1;
					}
					&:hover {
						.tooltiptext{
							visibility: visible;
						}
					}
				}
				.info-2{
					display: flex;
					justify-content: space-between;
					margin: 0 1em 1em;
				}
			}
			.tutorial-purchase {
				border-top: 1px solid $light-primary-col;
				display: flex;
				justify-content: space-between;
				div{
					margin: 1em;
				}
				.purchase-button{
					background-color: $light-primary-col;
					border-radius: 5px;
					line-height: 2.7;
					a{
						text-decoration: none;
						color: black;
						padding: 12px 10px 12px 12px;
					}
					&:hover{
						background-color: $dark-primary-col;
					}
				}
				.purchase-info {
					line-height: 2.8;
					.tutorial-like,
					.tutorial-cost{
						img{
							@include icon-size;
						}
					}
				}
			}
		}
	}
	.tutorial-page{
		ul{
			display: flex;
			justify-content: center;
			li{
				display: inline-block;
				margin-right: 5px;
			}
			a{
				text-decoration: none;
				color: black;
			}
		}
	}
}
.student-testi {
	background-image: linear-gradient(to bottom right, $dark-primary-col, $light-primary-col);
	padding: .3em 0 1em;
}
.student-testi , .list-teacher{
	h3{
		@include section-header;
	}
	.student-testi-wrap , .list-teacher-wrap{
		width: 300px;
		margin: 0 auto;
		position: relative;
		.testi , .teacher{
			padding-top: 10px;
			display: none;
			position: relative;
			.numbertext{
				color: #000;
				font-size: 12px;
				position: absolute;
				left: 1em;
			}
			.testi-head , .teacher-head{
				display: flex;
				justify-content: center;
			}
			.testi-main , .teacher-main{
				color: #000;
				font-size: 15px;
				text-align: center;
				.student-name , .teacher-name{
					font-weight: bold;
				}
				.student-name{
					color: $light-grey;
				}
				.teacher-name{
					color: $dark-primary-col;
				}
				.testi-text{
					margin-top: 3px;
				}
				.teacher-specialist{
					display: block;
				}
			}
		}
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}
		@-webkit-keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
		}
		@keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
		}
		.prev, .next , .prev-teacher, .next-teacher {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			user-select: none;
		}
		.prev , .next {
			color: $light-grey;
		}
		.prev-teacher, .next-teacher {
			color: $dark-primary-col;
		}
		.next , .next-teacher {
			right: 0;
			border-radius: 0 3px 3px 0;
		}
		.prev , .prev-teacher {
			border-radius: 3px 0 0 3px;
		}
		.prev:hover, .next:hover , .prev-teacher:hover, .next-teacher:hover {
			background-color: $secondary-col;
		}
	}
}

@media screen and (min-width: 748px) {
	
	.student-testi{
		.student-testi-wrap{
			position: static !important;
			width: auto !important;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.testi{
				display: block !important;
				position: static !important;
				width: 25em;
				.testi-text{
					width: 20em;
					margin: 0 auto !important;
				}
			}
			.numbertext, .prev, .next{
				display: none !important;
			}
		}
	}

}