@import "variables";
@import "mixins";

.tutorial-section {
    .tutorial-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .tutorial {
            width: 18em;
            margin: 10px;
            border: 1px solid rgba(170, 163, 170, 0.5);
            border-radius: 5px;
            overflow: hidden;
            transition: 0.5s;
            &:hover{
                box-shadow: 2px 2px 5px rgba(116,116,106,.75), 
                       -2px -2px 5px rgba(116,116,106,.75);
                transform: scale(1.05);
            }
            .tutorial-video{
                height: 10em;
                img{
                    width: 288px;
                    height: 150px;
                }
            }
            .tutorial-info{
                .info-1{
                    margin: 1em 0 1em 1em;
                    font-weight: bold;
                    position: relative;
                    a{
                        text-decoration: none;
                        color: #000;
                        &:hover{
                            color: $dark-primary-col;
                            cursor: pointer;
                        }
                    }
                    .tooltiptext{
                        font-size: .7em;
                        visibility: hidden;
                        background-color: black;
                        color: $light-grey;
                        border-radius: 10px 10px 10px 0;
                        padding: 5px 0;
                        text-align: center;
                        position: absolute;
                        top: -20px;
                        z-index: 1;
                    }
                    &:hover {
                        .tooltiptext{
                            visibility: visible;
                        }
                    }
                }
                .info-2{
                    display: flex;
                    justify-content: space-between;
                    margin: 0 1em 1em;
                }
            }
            .tutorial-play {
                border-top: 1px solid $light-primary-col;
                display: flex;
                justify-content: space-between;
                div{
                    margin: 1em;
                }
                .play-button{
                    background-color: $light-primary-col;
                    border-radius: 5px;
                    line-height: 2.7;
                    a{
                        text-decoration: none;
                        color: black;
                        padding: 12px 10px 12px 12px;
                    }
                    &:hover{
                        background-color: $dark-primary-col;
                    }
                }
                .play-info {
                    line-height: 2.8;
                    .tutorial-like,
                    .tutorial-cost{
                        img{
                            @include icon-size;
                        }
                    }
                }
            }
        }
    }
    .tutorial-page{
        ul{
            display: flex;
            justify-content: center;
            li{
                display: inline-block;
                margin-right: 5px;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .modalDetailTutorial {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        .modal-content{
            background-color: $light-grey;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            border-radius: 5px;
            width: 80%;
            opacity: 0;
            .close-detail-tutorial {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                &:hover{
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            h3{
                text-align: center;
            }
            .detail-tutorial{
                line-height: 1.8;
                max-height: 450px;
                overflow-y: scroll;
                opacity: 0;
                .title{
                    text-align: center;
                    color: $dark-primary-col;
                    margin-bottom: 25px;
                }
                .prize-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    float: right;
                    .prize{
                        font-weight: bold;
                    }
                    .dollar-logo{
                        @include icon-size;
                        margin: 0;
                    }
                }
                .like-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .like-logo{
                        @include icon-size;
                        margin: 0;
                        padding-right: 2px;
                    }
                }
                .img-cover{
                    width: 100%;
                    display: block;
                    margin: 25px auto;
                }
                .created-by{
                    border-bottom: 0px solid $secondary-col;
                    transition: border-bottom 0.3s, color 0.5s;
                    &:hover{
                        border-bottom: 5px solid $secondary-col;
                        color: $secondary-col;
                    }
                }
                .with-subtitle{
                    font-size: 0.9em;
                    border-radius: 3px;
                    background-color: $light-primary-col;
                    padding: 2px;
                }
                .without-subtitle{
                    font-size: 0.9em;
                    color: rgb(100, 99, 99);
                    border-radius: 3px;
                    background-color: rgb(172, 169, 169);
                    padding: 2px;
                    text-decoration: line-through;
                }
                .tags{
                    li {
                        display: inline-block;
                        margin: 0 2px;
                        background-color: $dark-primary-col;
                        padding: 2px 4px;
                        font-size: 0.7em;
                        border-radius: 30px;
                        a{
                            text-decoration: none;
                            color: $light-grey;
                            &:hover{
                                color: $secondary-col;
                            }
                        }
                    }
                }
                .description{
                    padding-left: 3px;
                    border-left: 3px solid $dark-primary-col;
                }
                
            }
            .shown-detail-tutorial {
                @include shown-detail-content;
            }
        }
        .shown-modal-content {
            @include shown-detail-content;
        }
        
    }
}
.no-tutorial{
    h3{
        color: $dark-primary-col;
        font-size: 2em;
        text-align: center;
        padding: 1em 0;
    }
}