{% extends "/tutorial/bases/tutorial-complete.html.twig" %}

{% block content %}

    <div class="checkout-cancel-wrapper">
        <div class="checkout-button">
            <a href="#">Checkout</a> {# nanti pake axios aja ke checkout.php #}
        </div>
        <div class="cancel-button">
            <a href="{{ BASEURL }}/Cart/cancel/{{ tutorial.id }}">Cancel</a>
        </div>
    </div>



{% endblock %}