.signup-main {
  padding-top: 10em;
  line-height: 1.6;
}
.signup-main .row-header h3 {
  text-align: center;
  margin-top: 10px;
}
.signup-main .row-main {
  padding: 1em;
}
.signup-main .row-main .form-group {
  border-left: 3px solid #1c997c;
  margin: 1em 0;
  padding: 0.5em;
}
.signup-main .row-main .form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.signup-main .row-main .form-group input:focus {
  background-color: #eef6f1;
  outline: none;
}
.signup-main .row-main .form-group button[type=submit] {
  background-color: #52aca2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.signup-main .row-main .form-group button[type=submit]:hover {
  background-color: #1c997c;
}
.signup-main .row-main .form-group:last-child {
  border: 0;
}