* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #eef6f1;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header header header header'
	'main main main main main main'
	'footer footer footer footer footer footer';
	grid-gap: 5px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  left: 10px;
}

.menu-btn__burger {
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.aktif {
	position: absolute;
	display: block;
	background: #fff;
	width: 50%;
	left: 0;
	top: 36px;
	height: 100%;
	z-index: 999;
	animation-name: menu-admin-animation;
	animation-duration: 500ms;
}

@keyframes menu-admin-animation {
	from { left: -300px; }
	to { left: 0; }
}

.inaktif {
	position: absolute;
	display: block;
	background: #fff;
	width: 50%;
	left: -400px;
	top: 36px;
	height: 100%;
	z-index: 999;
	animation-name: menu-admin-animation-close;
	animation-duration: 500ms;
}

@keyframes menu-admin-animation-close {
	from { left: 0; }
	to { left: -400px; }
}