@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font-face/Montserrat-Regular.ttf') format('ttf');       
    font-weight: normal;
    font-style: normal;
}
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #eef6f1;
}

.logo-wrapper {
	grid-area: logo-wrapper;
	display: flex;
	justify-content: flex-end;
}

.menu-navbar {
	grid-area: menu-navbar;
	display: none;
	font-size: 2.5em;
	font-family: "Montserrat-Regular", arial;
	text-align: center;
}

.menu-navbar a {
	text-decoration: none;
	color: #eef6f1;
	border-bottom: 0px solid #e5d80e;
	transition: border-bottom 0.3s, color 0.5s;
}

.menu-navbar a:hover {
	border-bottom: 5px solid #e5d80e;
	color: #1c997c;
}

.menu-navbar ul {
	list-style-type: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.menu-navbar.open {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-signup-wrapper {
	grid-area: login-signup-wrapper;
	display: none;
}

.login-signup-wrapper.open {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.login-wrapper , .signup-wrapper {
	padding: 10px;
	border-radius: 5px;
}

.login-wrapper {
	border: 1px solid #1c997c;
}

.signup-wrapper {
	background-color: #1c997c;
}

.login-signup-wrapper a {
	text-decoration: none;
	font-size: 1.5em;
	font-family: "Montserrat-Regular", arial;
	color: #eef6f1;
	
}

.login-signup-wrapper a:hover {
	color: #e5d80e;
}

.menu-btn {
	grid-area: menu-btn;
	position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    left: 10px;
    top: 20px;
}

.header-wrapper {
	display: grid;
	grid-template-areas: 
	'menu-btn menu-btn menu-btn logo-wrapper logo-wrapper logo-wrapper'
	'menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar menu-navbar'
	'login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper login-signup-wrapper';
	/*grid-gap: 5px;*/
	height: 100%;
}

.header { 
	grid-area: header;
	background-color: #52aca2;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.header.open {
	height: 100%;
}

.main { 
	grid-area: main; 
	margin-top: 80px;
}
.footer { 
	grid-area: footer;
	background-color: #999999;
}

.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header header header header'
	'main main main main main main'
	'footer footer footer footer footer footer';
	grid-gap: 5px;
}

.menu-btn__burger {
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg);
}

@media screen and (min-width: 748px) {
	.menu-btn {
		display: none !important;
	}

	.menu-navbar {
		display: inline !important;
		font-size: 1.5em !important;
	}

	.menu-navbar ul {
		flex-direction: row !important;
		align-items: center;
	}

	.login-signup-wrapper {
		display: flex !important;
		flex-direction: row;
		align-items: center;
		/*justify-content: space-around;*/
		justify-content: flex-end;
		margin-right: 1em;
	}

	.login-signup-wrapper a {
		font-size: 1em !important;
	}

	.login-signup-wrapper div {
		margin: 0 3px;
	}

	.login-signup-wrapper.open {
		justify-content: flex-end !important;
	}

	.logo-wrapper {
		justify-content: flex-start !important;
		display: inline !important;
	}

	.header-wrapper {
		grid-template-areas: 
		'logo-wrapper logo-wrapper menu-navbar menu-navbar login-signup-wrapper login-signup-wrapper' !important;
		height: auto !important;
	}

	.header.open {
		height: auto !important;
	}


}