<main class="profile-teacher">
    <h3>Profile Teacher</h3>
    <div class="container-profile-teacher">
        <p>{{ profile_teacher[0]['email'] }}</p>
        <p>{{ BASEURL }}</p>
    </div>
</main>