{% extends "/tutorial/bases/tutorial-only.html.twig" %}

{% block content %}

    <div class="purchase-wrapper">
        <div class="purchase-button">
            <a href="{{ BASEURL }}/Cart/add/{{ tutorial.id }}">Add to cart</a>
        </div>
    </div>

{% endblock %}