<main class="main">
	<div class="call-to-action">
		<div class="cta-content">
			<h1>Welcome to Unemi</h1>
			<h3>Your Learing Platform</h3>
			{% if not (login_teacher or login_student) %}
				<div><a href="{{ BASEURL }}/Signup">Sign Up</a></div>
			{% endif %}
		</div>
	</div>
	<div class="row-header">
        <h3>Latest Tutorial</h3>
    </div>
	<!-- <video poster="../app/core/videos/cover-img/sample.png" controls> -->
		<!-- <source src="../app/core/videos/cat-herd.webm" type="video/webm" /> -->
		<!-- Your Browser is not supported. -->
	<!-- </video> -->