<div class="student-testi">
    <h3>Student Testimony</h3>
    <div class="student-testi-wrap">
        <div class="testi fade">
            <div class="numbertext">1 / 5</div>
            <div class="testi-head">
                <img src="http://placehold.it/150x150" alt="testi-img">
            </div>
            <div class="testi-main">
                <span class="student-name">John McCarty</span>
                <p class="testi-text">In Unemi, I want to learn whenever I can. If it's still unclear, the video can also be replay</p>
            </div>
        </div>
        <div class="testi fade">
            <div class="numbertext">2 / 5</div>
            <div class="testi-head">
                <img src="http://placehold.it/150x150" alt="testi-img">
            </div>
            <div class="testi-main">
                <span class="student-name">Caleb Santos</span>
                <p class="testi-text">In Unemi, I want to learn whenever I can. If it's still unclear, the video can also be replay</p>
            </div>
        </div>
        <div class="testi fade">
            <div class="numbertext">3 / 5</div>
            <div class="testi-head">
                <img src="http://placehold.it/150x150" alt="testi-img">
            </div>
            <div class="testi-main">
                <span class="student-name">Mary Anne</span>
                <p class="testi-text">In Unemi, I want to learn whenever I can. If it's still unclear, the video can also be replay</p>
            </div>
        </div>
        <div class="testi fade">
            <div class="numbertext">4 / 5</div>
            <div class="testi-head">
                <img src="http://placehold.it/150x150" alt="testi-img">
            </div>
            <div class="testi-main">
                <span class="student-name">Jack Doe</span>
                <p class="testi-text">In Unemi, I want to learn whenever I can. If it's still unclear, the video can also be replay</p>
            </div>
        </div>
        <div class="testi fade">
            <div class="numbertext">5 / 5</div>
            <div class="testi-head">
                <img src="http://placehold.it/150x150" alt="testi-img">
            </div>
            <div class="testi-main">
                <span class="student-name">Kelly Sims</span>
                <p class="testi-text">In Unemi, I want to learn whenever I can. If it's still unclear, the video can also be replay</p>
            </div>
        </div>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </div>
</div>
<div class="list-teacher">
    <h3>Teacher List</h3>
    <div class="list-teacher-wrap">
        <div class="teacher fade">
            <div class="numbertext">1 / 3</div>
            <div class="teacher-head">
                <img src="http://placehold.it/150x150" alt="teacher-img">
            </div>
            <div class="teacher-main">
                <span class="teacher-name">John</span>
                <span class="teacher-specialist">Economy Lecturer</span>
            </div>
        </div>
        <div class="teacher fade">
            <div class="numbertext">2 / 3</div>
            <div class="teacher-head">
                <img src="http://placehold.it/150x150" alt="teacher-img">
            </div>
            <div class="teacher-main">
                <span class="teacher-name">Erik</span>
                <span class="teacher-specialist">Sosiology Expert</span>
            </div>
        </div>
        <div class="teacher fade">
            <div class="numbertext">3 / 3</div>
            <div class="teacher-head">
                <img src="http://placehold.it/150x150" alt="teacher-img">
            </div>
            <div class="teacher-main">
                <span class="teacher-name">Kane</span>
                <span class="teacher-specialist">Prof of Math</span>
            </div>
        </div>
        <a class="prev-teacher">&#10094;</a>
        <a class="next-teacher">&#10095;</a>
    </div>
</div>
<div class="comparison">
    <h3>Why do you need to use Unemi?</h3>
    <div class="comparison-table">
        <div class="comparison-table-head">
            <button class="tab-conven">Conventional</button>
            <button class="tab-unemi">Unemi</button>
        </div>
        <div class="comparison-table-main">
            <table>
                <tr>
                    <th>Features</th>
                    <th class="conven-feature">Conventional</th>
                    <th class="unemi-feature">Unemi</th>
                </tr>
                <tr>
                    <td>Price</td>
                    <td class="conven-feature">Unpredictable</td>
                    <td class="unemi-feature">Predictable</td>
                </tr>
                <tr>
                    <td>Personality</td>
                    <td class="conven-feature">Monoton</td>
                    <td class="unemi-feature">Adaptive</td>
                </tr>
                <tr>
                    <td>Learning Schedule</td>
                    <td class="conven-feature">Predetermined</td>
                    <td class="unemi-feature">Flexible</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td class="conven-feature">Onsite</td>
                    <td class="unemi-feature">Online</td>
                </tr>
                <tr>
                    <td>Participants</td>
                    <td class="conven-feature">More than 40 Students</td>
                    <td class="unemi-feature">one on one</td>
                </tr>
                <tr>
                    <td>Method</td>
                    <td class="conven-feature">Out of date</td>
                    <td class="unemi-feature">Up to date</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</main>