<main class="login">
    <h3>Login</h3>
    <div class="container-login">
        <h2>Make Learning cheerful again with Unemy</h2>
        <span>Login as</span>
        <a href="{{ BASEURL }}/Login/student">Student</a>
        <span>Or</span>
        <a href="{{ BASEURL }}/Login/teacher">Teacher</a>
    </div>
</main>