{% extends "/tutorial/bases/tutorial-complete.html.twig" %}

{% block content %}

    <div class="purchase-wrapper">
        <div class="purchase-button">
            <a href="#">Add to cart</a>
        </div>
    </div>

{% endblock %}