{% extends "/tutorial/tutorials.html.twig" %}

{% block content %}

    <div class="update-revoke-wrapper">
        <div class="update-button">
            <a href="#">Update</a>
        </div>
        <div class="revoke-button">
            <a href="#">Revoke</a>
        </div>
    </div>

{% endblock %}