{% extends "/tutorial/index.html.twig" %}

{% block content %}

    <div class="update-revoke-wrapper">
        <div class="update-button">
            <a href="#">Update</a>
        </div>
        {% if tutorial.is_revoke == 'N' %}
            <div class="revoke-button">
                <a href="">Revoke</a>
            </div>
        {% else %}
            <div class="restore-button">
                <a href="">Restore</a>
            </div>
        {% endif %}
    </div>

{% endblock %}